 @font-face { font-family: AurekBesh; src: url('boba-fonts_aurek-besh/Aurek-Besh.ttf') format('ttf'); }

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(18, 82, 61, 0.55)
                url('ajax-loader.gif')
                50% 50%
                no-repeat;
}

ul {
    padding: 20px;
}

button, select, input {
    color: black;
    background-color: #009966;
    border: none;
    font-family: 'Anonymous Pro', monospace;
    margin: 5px;
}

slect:hover {
    background-color: white;
}

:focus {
    outline: none;
}

body {
    color: #009966;
    font-family: 'Anonymous Pro', monospace;
    /*font-family: 'AurekBesh';*/
}

#cover {
    /*background-image: url(scanbg.gif);*/
    background-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 200px;
    z-index: -1;
}

#line {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #009966;
    opacity: 0.2;
    z-index: 100;
    box-shadow: 10px 10px 5px #009966;
}

#dot{
    position: relative;
    left: 10px;
    width: 20px;
    height: 2px;
    background: #000;
    opacity: 1;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

main {
    display: flex;
    flex-flow: row wrap;
    max-width: 1400px;
}

.affichPage, #articleInfo, #asideInfo, #textAnim {
    background-color: black;
    border: 1px solid #009966;
    margin: 10px;
    padding: 10px;
}

.affichPage label, .affichPage input {
    align-self: center;
}

#asideInfo {
    max-width: 40%;
    min-width: 40%;
    height: 100%;
    display: none;
}

#articleInfo {
    display: none;
    min-width: 25%;
}

#textAnim {
    display: none;
    height: 100%;
    max-width: 20%;
    overflow: hidden;
}

main article {
    text-align: left;
}

.affichPage {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px 0;
}

#npage {
    height: 1em;
    font-size: 1em;
    margin: 0;
    padding: 0;
    align-self: center;
}

textarea {
    background-color: black;
    border-color: rgb(0, 153, 102);
    color: rgb(0, 153, 102);
    resize: none;
}


footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    background-color: #009966;
    z-index: 1000;
    font-size: 2vh;
    box-shadow: 0 0 5px #009966;
}

footer p {
    margin: 0;
}

footer a {
    color: black;
}

.titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

.titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

.titles > li
{
	position: absolute;
	top: 100%;
    color: #FDD710;
	animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
